.DS_Store
.idea
.claude
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/results.xml
test/gate_level_netlist.v

**/__pycache__/
*.pyc

# Ignore the tt tooling
/tt/
/ttsetup/venv
/ttsetup/pdk

# Ignore the build output of the tvsimulator
/tvsimulator/build/